.feed{
    width: 60vw;
    background-color: black;
    color: white;
}

.side-bar{
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: black;
    color: white;
    overflow: hidden;

}

.explore {
    width: 20vw;
    background-color: black;
    color: white;
}